@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Noto+Sans:wght@300;400;700&display=swap');

  /* -------------------------------------------------------------------------------------------------------------------------- */

    /* .mainImg {transform: scale(2.0);} */
    .mainImg {transition: .5s;}

  .slidecontainer {
    height: 25px; /* Specified height */
    top: 120px;
    right: 0;
      position: absolute;
    z-index: 900;
      /* border: solid red 1px; */
    width: 300px; /* Width of the outside container */
  }
  
  /* The slider itself */
  .slider2 {
      border: solid gray 1px;
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 1px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 1; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider2:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider2::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    border-radius: 50%;
    background: black; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider2::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

  /* -------------------------------------------------------------------------------------------------------------------------- */

* {
    font-family: 'Noto Sans','Noto Sans KR' sans-serif;
    line-height: 1.7;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

@media screen and (max-width: 1920px) { body { background-color: rgba(250, 250, 250, 1); } }

body {
    font-family: 'Noto Sans', sans-serif;
    width: 100%;
    max-width: 1920px;
    height: 100%;
    position: absolute;
}
.section{
    width: 100%;
    height: 100%;
}
#header {
    position: relative;
    margin-bottom: 10px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 50px;
    position: relative;
    width: 100%;
    max-width:1800px;
}
